<div style="border:solid green 2px; padding: 20px">

<b>Привет, Марина!</b>

Меня зовут Алина Соловьева и я буду проверять твою работу. Попробую помочь сделать тебе её еще лучше! В Практикуме принято общение на ты, но если это дискомфортно, то сообщи об этом)

Ниже ты найдешь мои комментарии - пожалуйста, не перемещай, не изменяй и не удаляй их. Я буду использовать цветовую разметку:

<div class="alert alert-danger">
<b>Комментарий ревьюера:</b>☁️Так выделены самые важные замечания. Без их отработки проект не будет принят. </div>

<div class="alert alert-warning">
<b>Комментарий ревьюера:</b>⛅️ Так выделены небольшие замечания.Такие замечания в проекте допустимы, это пространство для улучшений в будущем.
</div>

<div class="alert alert-success">
<b>Комментарий ревьюера:</b>☀️Так я выделяю успешные идеи.</div>

Давай работать над проектом в диалоге: если ты что-то меняешь в проекте или отвечаешь на мои комменатри — пиши об этом. Мне будет легче отследить изменения, если ты выделишь свои комментарии:

<div class="alert alert-info"> <b>Комментарий студента:</b> Например, вот так.</div>    

Всё это поможет выполнить повторную проверку твоего проекта оперативнее.

# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
children_debt_pivot = pd.pivot_table(data,index = 'children', columns = 'debt',values ='purpose_category', aggfunc = ['count'], margins = True)
children_debt_pivot['relation'] = round(children_debt_pivot[('count', 0)]/children_debt_pivot[('count', 1)],1)
children_debt_pivot['%,repayment_of_the_total'] = round((children_debt_pivot[('count', 0)]/ children_debt_pivot[('count', 'All')])*100, 2)
print(children_debt_pivot)# Ваш код будет здесь. Вы можете создавать новые ячейки.

            count                relation %,repayment_of_the_total
debt            0       1    All
children
0         13028.0  1063.0  14091     12.3                    92.46
1          4364.0   444.0   4808      9.8                    90.77
2          1858.0   194.0   2052      9.6                    90.55
3           303.0    27.0    330     11.2                    91.82
4            37.0     4.0     41      9.2                    90.24
5             9.0     NaN      9      NaN                   100.00
All       19599.0  1732.0  21331     11.3                    91.88

**Вывод:** Создала два столбца к сводной таблице. Первый столбец **['relation']**, показывает во сколько раз количество непросроченных кредитов больше количества просроченных. Второй столбец **['%,repayment_of_the_total']** показывает долю непросроченного кредита от общего числа в каждой группе. Исходя из результатов можно сделать вывод, что наименьший показатель невозвратов по кредиту приходится на людей, ***не имеющих детей***. Выборку с 5ю детьми мы не рассматриваем, так как не хватает данных по столбцу с просроченным кредитом. В целом, увеличение количества детей существенно не меняет показатели возврата кредита в срок.


<div class="alert alert-success">
<b>Комментарий ревьюера:</b>☀️Согласна абсолютно!</div>

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
family_status_debt_pivot = pd.pivot_table(data,index = 'family_status', columns = 'debt',values ='purpose_category', aggfunc = ['count'], margins = True)
family_status_debt_pivot['relation'] = round(family_status_debt_pivot[('count', 0)] / family_status_debt_pivot[('count', 1)],1)
family_status_debt_pivot['%,repayment_of_the_total'] = round((family_status_debt_pivot[('count', 0)]/ family_status_debt_pivot[('count', 'All')])*100, 2)
print(family_status_debt_pivot)# Ваш код будет здесь. Вы можете создавать новые ячейки.# Ваш код будет здесь. Вы можете создавать новые ячейки.

                       count              relation %,repayment_of_the_total
debt                       0     1    All
family_status
Не женат / не замужем   2523   273   2796      9.2                    90.24
в разводе               1105    84   1189     13.2                    92.94
вдовец / вдова           888    63    951     14.1                    93.38
гражданский брак        3749   385   4134      9.7                    90.69
женат / замужем        11334   927  12261     12.2                    92.44
All                    19599  1732  21331     11.3                    91.88

**Вывод:** Создала два столбца к сводной таблице. Первый столбец **['relation']**, показывает во сколько раз количество непросроченных кредитов больше количества просроченных по выборкам из семейного статуса. Второй столбец **['%,repayment_of_the_total']** показывает долю непросроченного кредита от общего числа в каждой группе. Исходя из результатов можно сделать вывод, что наименьший показатель невозвратов по кредиту приходится на людей, находящихся в статусе ***вдовец / вдова***. Но выборка по данному статусу значительно меньше остальных выборок, поэтому результат может быть несколько не точным. Наименьшее количество возвратов приходится на находящихся в статусе ***Не женат / не замужем*** и ***гражданский брак***.
В целом, можно сделать вывод, что побывавшие непосредственно в зарегистрированном браке, либо находящиеся в нем, увеличивают вероятность возврата кредита в срок.


<div class="alert alert-success">
<b>Комментарий ревьюера:</b>☀️Да, это верно) </div>

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
total_income_debt_pivot = pd.pivot_table(data,index = 'total_income_category', columns = 'debt',values ='purpose_category', aggfunc = ['count'], margins = True).reset_index()
total_income_debt_pivot['relation'] = round(total_income_debt_pivot[('count', 0)] / total_income_debt_pivot[('count', 1)],1)
total_income_debt_pivot['%,repayment_of_the_total'] = round((total_income_debt_pivot[('count', 0)]/ total_income_debt_pivot[('count', 'All')])*100, 2)
def categorize(category):
    if category=='E' :
        return '<= 30000'
    elif category == 'D' :
        return '30001-50000'
    elif category == 'C' :
        return '50001-200000'
    elif category == 'B':
        return '200001-1000000'
    elif category == 'A' :
        return '>= 1000001'
total_income_debt_pivot['income_category'] = total_income_debt_pivot['total_income_category', ''].apply(categorize) 
total_income_debt_pivot = total_income_debt_pivot.reindex(columns=[('total_income_category',    ''),('income_category',    ''),('count',     0),('count',     1),('count', 'All'),('relation',    ''),('%,repayment_of_the_total',    '')])
print(total_income_debt_pivot)# Ваш код будет здесь. Вы можете создавать новые ячейки.

     total_income_category income_category  count              relation  \
debt                                            0     1    All
0                        A      >= 1000001     23     2     25     11.5
1                        B  200001-1000000   4660   354   5014     13.2
2                        C    50001-200000  14568  1353  15921     10.8
3                        D     30001-50000    328    21    349     15.6
4                        E        <= 30000     20     2     22     10.0
5                      All            None  19599  1732  21331     11.3

     %,repayment_of_the_total
debt
0                       92.00
1                       92.94
2                       91.50
3                       93.98
4                       90.91
5                       91.88

**Вывод:** При проведенном анализе данных наибольший процент возвратов находится для выборки с заработной платой от **30001 до 50000 рублей**. Что, по сути, является средней зарплатой по стране. Наименьший процент возвратов находится в выборке с зарплатой **менее 30000 рублей**. Сильная корелляция при увеличении заработной платы и возможности возвращать в срок кредит, не проявляется, возможно, потому что и сами кредиты имеют большую сумму, чем нежеле в самой возвратной категории.


<div class="alert alert-warning">
<b>Комментарий ревьюера:</b>☀️Здесь еще можно обраитить внимание на объемы выборки и заметить, что категории В и С наиболее многочисленны по сравнению с остальными, и посчитать процентаж отдельно для них </div>

<div class="alert alert-info"> Если я правильно поняла, то я должна рассмотреть детальнее категории B и С. Ниже проанализирую выборки по данным категориям. Рассмотрим на какие цели данные категории берут кредит.

In [28]:
pd.options.display.expand_frame_repr = False
B_debt = data.loc[data['total_income_category'] == 'B']
B_debt_pivot = pd.pivot_table(B_debt,index = ['gender','purpose_category'], columns = ['debt'],values ='total_income', \
                                         aggfunc = ['count'], margins = True).reset_index()

B_debt_pivot['%,repayment_of_the_total'] = round((B_debt_pivot[('count', 0)] / B_debt_pivot[('count', 'All')])*100, 2)
print(B_debt_pivot.sort_values(by =[('%,repayment_of_the_total', '')], ascending = False))

     gender          purpose_category   count              %,repayment_of_the_total
debt                                        0      1   All
8       XNA  операции с недвижимостью     1.0    NaN     1                   100.00
3         F        проведение свадьбы   286.0   13.0   299                    95.65
1         F  операции с недвижимостью  1294.0   79.0  1373                    94.25
7         M        проведение свадьбы   230.0   15.0   245                    93.88
2         F     получение образования   451.0   30.0   481                    93.76
9       All                            4660.0  354.0  5014                    92.94
0         F    операции с автомобилем   502.0   40.0   542                    92.62
5         M  операции с недвижимостью  1091.0   93.0  1184                    92.15
4         M    операции с автомобилем   435.0   45.0   480                    90.62
6         M     получение образования   370.0   39.0   409                    90.46

<div class="alert alert-info"> 
    Проведя исследование по категории дохода (В) от 200001 до 1000000 рублей в разрезе пола и целей взятия кредита, исходя из процетных данных столбца [%,repayment_of_the_total], можно сделать вывод, что самой возвращаемой категорией будут женщины, берущие кредит на проведение свадьбы (значение с неверным гендером в расчет не берем, на выборку в целом влияния иметь не будет)

In [31]:
pd.options.display.expand_frame_repr = False
C_debt = data.loc[data['total_income_category'] == 'C']
C_debt_pivot = pd.pivot_table(C_debt,index = ['gender','purpose_category'], columns = ['debt'],values ='total_income', \
                                         aggfunc = ['count'], margins = True).reset_index()

C_debt_pivot['%,repayment_of_the_total'] = round((C_debt_pivot[('count', 0)] / C_debt_pivot[('count', 'All')])*100, 2)
print(C_debt_pivot.sort_values(by =[('%,repayment_of_the_total', '')], ascending = False))

     gender          purpose_category  count              %,repayment_of_the_total
debt                                       0     1    All
1         F  операции с недвижимостью   5151   359   5510                    93.48
3         F        проведение свадьбы   1132    92   1224                    92.48
0         F    операции с автомобилем   2048   184   2232                    91.76
2         F     получение образования   1922   175   2097                    91.65
8       All                            14568  1353  15921                    91.50
5         M  операции с недвижимостью   2247   240   2487                    90.35
7         M        проведение свадьбы    445    60    505                    88.12
4         M    операции с автомобилем    828   121    949                    87.25
6         M     получение образования    795   122    917                    86.70

<div class="alert alert-info"> 
    Проведя исследование по категории дохода (С) от 50001 до 200000 рублей в разрезе пола и целей взятия кредита, исходя из процетных данных столбца [%,repayment_of_the_total], можно сделать вывод, что самой возвращаемой категорией будут женщины, берущие кредит на операции с недвижимостью. Самой менее возвращаемой категорией будут мужчины, берущие кредит на получение образования. Также можно сделать вывод, что женщины по категории дохода С значительно чаще брали кредит, чем мужчины и значительно лучше его возврщали.


<div class="alert alert-success">
<b>Комментарий ревьюера v2.0:</b>☀️Да, все верно ! Молодец :)</div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [26]:
purpose_debt_pivot = pd.pivot_table(data,index = 'purpose_category', columns = 'debt',values ='purpose', aggfunc = ['count'], margins = True).reset_index()
purpose_debt_pivot['relation'] = round(purpose_debt_pivot[('count', 0)] / purpose_debt_pivot[('count', 1)],1)
purpose_debt_pivot['%,repayment_of_the_total'] = round((purpose_debt_pivot[('count', 0)]/ purpose_debt_pivot[('count', 'All')])*100, 2)
print(purpose_debt_pivot)# Ваш код будет здесь. Вы можете создавать новые ячейки.# Ваш код будет здесь. Вы можете создавать новые ячейки.

              purpose_category  count              relation  \
debt                                0     1    All
0       операции с автомобилем   3879   400   4279      9.7
1     операции с недвижимостью   9971   780  10751     12.8
2        получение образования   3619   369   3988      9.8
3           проведение свадьбы   2130   183   2313     11.6
4                          All  19599  1732  21331     11.3

     %,repayment_of_the_total
debt
0                       90.65
1                       92.74
2                       90.75
3                       92.09
4                       91.88

**Вывод:** Исходя из полученных данных можно сделать вывод, что наименьший процент по возвратам находится в выборке ***операции с автомобилем***, так же выборка ***для получения образования*** показывает меньший процент возвратов, чем в других выборках. Наиболее возвращаемой выборкой по цели является: ***операции с недвижимостью***


<div class="alert alert-success">
<b>Комментарий ревьюера:</b>☀️Все правильно!
</div>

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Пропуски могут иметь технический характер, то есть могут быть ошибки при выгрузки данных. Либо пропуски могут быть из-за "человеческого фактора", к примеру операторы, заполняющие информацию, по каким-то причинам ошиблись и не заполнили ячейки .


<div class="alert alert-success">
<b>Комментарий ревьюера:</b>☀️И здесь тоже исчерпывающе верный ответ) </div>

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* Заполнение пропусков ***медианным значением*** в значительно большей степени позволяет сгладить большой разброс в количественных данных, чем нежеле *среднее арифметическое*. Среднее арифметическое тянет всю выборку вверх при высокой разнице между минимальным и максимальным значением выборки.


<div class="alert alert-success">
<b>Комментарий ревьюера:</b>☀️Да, медиана наиболее устойчива к выбросам</div>

### Шаг 4: общий вывод.

После проведенного выше анализа, можно сделать следующие выводы:
* Наиболее кредитоплатежным среди выборки наличия/отсутствия детей, является человек без детей.
* Наиболее кредитоплатежным среди выборки по семейному положению, является вдовец/вдова
* Наиболее кредитоплатежным среди выборки по уровню дохода, является человек с доходом от 300001 до 50000 рублей
* Наиболее кредитоплатежным среди выборки по цели кредита, является человек, берущий кредит для операций с недвижимостью.


<div class="alert alert-success">
<b>Комментарий ревьюера:</b>☀️Марина, спасибо тебе за твой проект! Все супер, пожалуйста, ознакомься с моими комментариями и оставь свои :)</div>


<div class="alert alert-success">
<b>Комментарий ревьюера v2.0:</b>☀️Успехов на поприще аналитики ;) </div>